<section class="site-section about-section text-center" id="about">
  <header class="section-header">
    <h2>
      About
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      Experience The Difference
    </h3>
    <blockquote cite="{{ site.url }}">
      Does your current stylist listen to you?
      <br>
      Do they give you an honest professional assessment and opinion to help you look your best?
      <br>
      Do they have the skills to execute on the vision properly?
      <br>
      <br>
      This is what sets Lisa apart from her competition. She will listen to your concerns and provide expert advice to help you look your best.
      Then she has the skills and experience to execute on that vision consistently and with amazing results.
    </blockquote>
    <br>
    <h3 class="lead">
      Booking Coming Soon
    </h3>
    <blockquote cite="{{ site.url }}">
      Lisa will have her Vagaro account activated for booking soon.
    </blockquote>
  </div>
</section>