<section class="site-section about-section text-center" id="about">
  <header class="section-header">
    <h2>
      About
    </h2>
  </header>
  <div class="section-content">
    <blockquote cite="{{ site.url }}">
      <p>
        Hair is my passion, and once you meet me, you'll understand that better.
        I absolutely love what I do, and if you follow my 
        <a href="{{ site.instagram }}" aria-label="Instagram" target="_blank" title="Instagram">Instagram Posts</a>
        you'll see some examples of my amazing transformations.
        I strive to create lifelong relationships by producing consistently amazing results and earning the trust and respect of my clients.
      </p>
      <p>
        I have more details spread throughout this website, but I can't help if you don't get in touch. Please pick up the phone, send me an email, or book online and let's discuss how I can help.
      </p>
    </blockquote>
  </div>
</section>