<section class="site-section about-section text-center" id="about">
  <header class="section-header">
    <h2>
      About
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      Experience The Difference
    </h3>
    <blockquote cite="{{ site.url }}">
      Does your current stylist listen to you?
      <br>
      Do they give you an honest professional assessment and opinion to help you look your best?
      <br>
      Do they have the skills to execute on the vision properly?
      <br>
      <br>
      This is what sets me apart from her competition. I will listen to your concerns and provide expert advice to help you look your best.
      More importantly, I have the knowledge, skills, and experience to execute on that vision consistently and with amazing results.
    </blockquote>
    <br>
    <h3 class="lead">
      Call or Email Today
    </h3>
    <blockquote cite="{{ site.url }}">
      I am already booking appointments and my schedule is filling up fast.
      <br>
      Get in touch for an appointment or simply to discuss how I can help with your specific needs.
      <br>
      <br>
      <div class="row justify-content-center" itemscope itemtype="https://schema.org/LocalBusiness">
        <meta itemprop="name" content="Hair By Lisa Cardillo">
        <div class="d-none" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
          <span itemprop="streetAddress">1617 E Vine St</span>
          <span itemprop="addressLocality">Kissimmee</span>,
          <span itemprop="addressRegion">FL</span>
          <span itemprop="postalCode">34744</span>
        </div>
        <div class="d-none" itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
          <meta itemprop="latitude" content="28.303201505096695" />
          <meta itemprop="longitude" content="-81.3779173957028" />
        </div>      
        <div class="social-icons w-auto">
          <ol class="icons text-start">
            <li>
              <span itemprop="telephone"><a href="tel:+1407-887-7776" title="407-887-7776"><img src="{% link {{ site.images_path }}/{{ site.phone-icon }} %}" alt="Phone Icon" height="100" width="100">&nbsp; 407-8877-PRO</a></span>
            </li>
            <li>
              <span itemprop="email"><a href="mailto:hairbylisacardillo@gmail.com?subject=Appointment%20or%20Consultation" target="_blank" title="hairbylisacardillo@gmail"><img src="{% link {{ site.images_path }}/{{ site.email-icon }} %}" alt="Email Icon" height="100" width="100">&nbsp; hairbylisacardillo</a></span>
            </li>
          </ol>
        </div>
      </div>
    </blockquote>
    <br>
    <h3 class="lead">
      Online Booking - Coming Soon
    </h3>
    <blockquote cite="{{ site.url }}">
      I am currently working on getting my online booking account setup and ready to book appointments.
    </blockquote>
  </div>
</section>