<section class="site-section contact-section text-center" id="contact">
  <header class="section-header">
    <h2>
      Contact
    </h2>
  </header>
  <div class="section-content">
    <blockquote cite="{{ site.url }}">
      <p>
        I would love to hear from you!
      </p>
      <p>
        Call, email, or book online, and let's discuss how I can help!!
      </p>
      <br>
      <div class="row justify-content-center" itemscope itemtype="https://schema.org/LocalBusiness">
        <meta itemprop="name" content="Hair By Lisa Cardillo">
        <div class="d-none" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
          <span itemprop="streetAddress">1617 E Vine St</span>
          <span itemprop="addressLocality">Kissimmee</span>,
          <span itemprop="addressRegion">FL</span>
          <span itemprop="postalCode">34744</span>
        </div>
        <div class="d-none" itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
          <meta itemprop="latitude" content="28.303201505096695" />
          <meta itemprop="longitude" content="-81.3779173957028" />
        </div>
        <div class="row justify-content-center">
          <div class="social-icons w-auto">
            <ol class="icons text-start">
              <li>
                <span itemprop="telephone"><a href="tel:+1407-887-7776" title="407-887-7776"><img src="{% link {{ site.images_path }}/{{ site.phone-icon }} %}" alt="Phone Icon" height="100" width="100">&nbsp; 407-88-77-PRO</a></span>
              </li>
              <li>
                <span itemprop="email"><a href="mailto:hairbylisacardillo@gmail.com?subject=Appointment%20or%20Consultation" target="_blank" title="hairbylisacardillo@gmail.com"><img src="{% link {{ site.images_path }}/{{ site.email-icon }} %}" alt="Email Icon" height="100" width="100">&nbsp; Email Address</a></span>
              </li>
              <li>
                <a href="https://book.hairbylisacardillo.com" target="_blank" title="Online Booking"><img src="{% link {{ site.images_path }}/{{ site.calendar-icon }} %}" alt="Booking Icon" height="100" width="100">&nbsp; Online Booking</a>
              </li>
              <li>
                <a itemprop="hasMap" href="https://maps.app.goo.gl/X3UPH4zs8SqobGRZ8" title="Google Maps"><img src="{% link {{ site.images_path }}/{{ site.location-icon }} %}" alt="Location Icon" height="100" width="100">&nbsp; Google Maps</a>
              </li>
              <li>
                <a itemprop="hasMap" href="https://maps.apple.com/?address=1617%20E%20Vine%20St,%20Kissimmee,%20FL%20%2034744,%20United%20States&auid=3407383594046538502&ll=28.303505,-81.378208&lsp=9902&q=Hair%20By%20Lisa%20Cardillo" title="Apple Maps"><img src="{% link {{ site.images_path }}/{{ site.location-icon }} %}" alt="Location Icon" height="100" width="100">&nbsp; Apple Maps</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </blockquote>
  </div>
</section>