<section class="site-section why-choose-me-section text-center" id="why-choose-me">
  <header class="section-header">
    <h2>
      Why Choose Me?
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      Clear Communication
    </h3>
    <blockquote cite="{{ site.url }}">
      <p>
        I am known for my "Straight Talk" (giving honest professional advice) and my clients appreciate that.
        As a professional with many years of experience across a diverse set of clients, I have a good idea of what's going to work best for each client's specific needs.
      </p>
      <p>
        I start each consultation by carefully listening to you to understand what look you prefer and what problems you want to solve.
        Then I provide some suggestions and we'll work together to figure out what's best for your specific situation.
      </p>
    </blockquote>
    <br>
    <h3 class="lead">
      Expert Skills
    </h3>
    <blockquote cite="{{ site.url }}">
      <p>
        A great consultation doesn't mean very much if your stylist can't back it up with the skills to do it right.
        I am certified in many advanced haircutting and coloring techniques, and I work hard to stay up to date with the latest trends and techniques.
      </p>
      <p>
        If you're in my chair, you can be confident that you are in great hands. I have the knowledge, experience, and skills to execute on our game plan exactly as I describe.
      </p>
    </blockquote>
  </div>
</section>