<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5H8R3Q2R"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav id="site-navbar" class="navbar navbar-dark navbar-expand-md flex-column">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" href="{{ site.baseurl }}/#" aria-label="Link to Main Home Page">
      <img src="{% link {{ site.images_path }}/header-text.svg %}" height="52" alt="{{ site.title }}">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {%- if page.path == "index.html" %}
          <a class="nav-link active" aria-current="page" href="{{ site.baseurl }}/#">Home</a>
          {% else %}
          <a class="nav-link" href="{{ site.baseurl }}/#">Home</a>
          {% endif -%}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a
          {%- if page.path == "services.html" %}
          class="nav-link active" aria-current="page"
          {% else %}
          class="nav-link"
          {% endif -%} href="{% link services.html %}">Services</a>
        </li>
        <li class="nav-item">
          <a
          {%- if page.path == "promotions.html" %}
          class="nav-link active" aria-current="page"
          {% else %}
          class="nav-link"
          {% endif -%} href="{% link promotions.html %}">Promotions</a>
        </li>
        <li class="nav-item">
          <a
          {%- if page.path == "our-team.html" %}
          class="nav-link active" aria-current="page"
          {% else %}
          class="nav-link"
          {% endif -%} href="{% link our-team.html %}">Team</a>
        </li>
        <li class="nav-item">
          <a
          {%- if page.path == "gallery.html" %}
          class="nav-link active" aria-current="page"
          {% else %}
          class="nav-link"
          {% endif -%} href="{% link gallery.html %}">Gallery</a>
        </li>
        <li class="nav-item">
          <a
          {%- if page.path == "posts.html" %}
          class="nav-link active" aria-current="page"
          {% else %}
          class="nav-link"
          {% endif -%} href="{% link posts.html %}">Posts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>